hr {
  /* color: blueviolet; */
  height: 10px;
  background-color: blueviolet;
  border: none;
  border-radius: clamp(8px, 2vw, 20px);
}


.video-container {
  block-size: max-content;
  overflow: hidden;
}

video {
  width: 400px;
  height: 100%;
}

